.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

BLM_ID_Surface_Management_Agency_Hub.zip
NCED*.zip
PALD_public_May2024.zip
land_cover_and_use_2016_CONUS_30m.tif
AFT_land_cover_2016_5070_1km_clip_reclassify_NAis0.tif
AFT_land_cover_2016_5070_30m_clip_reclassify_NAis0.tif
PVR_2016_clip_5070_1km.tif
land_cover_100m.tif
places_fmv_pnas_dryad.zip
fmv_5070_1km_*USD_per_km2.tif

/data/climate_mitigation/raw_data
/data/climate_mitigation/InVEST/intermediate_outputs
tot_c_cur.tif
/data/food_and_feed/raw_data
/data/water_quality/raw_data
/data/habitat/raw_data
/data/recreation/raw_data
/data/water_quality/InVEST/*.tif
/data/water_quality/InVEST/inputs/HUC12_watersheds*
/data/water_quality/InVEST/intermediate_outputs
/data/habitat/InVEST/inputs/*.tif
/data/habitat/InVEST/intermediate
/data/habitat/InVEST/inputs/gap_access*
/data/habitat/InVEST/quality_c.tif
deg_sum_c.tif
worldclim_runoff_proxy.tif
DEM_Filled_Buffered.tif

*notnormalized.csv

/_manuscript
/figures/Figure*.png
/figures/*.pptx